body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.phrase-box {
  background-color: rgb(238, 169, 238);
  position: absolute;          /* 位置指定 */
  top: 50%;                    /* 親要素の半分下にずらす */
  left: 50%;                   /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
  padding: 50px 60px;              /* 余白指定 */
}

.Button-style {
  font-size: 18px;
  display: inline-block;
  padding: 0.4em 1em 0.2em;
  color: #ffffff;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em #ff99cc;
  border-radius: 2.5px;
  background-color: #ff99cc;
  cursor: pointer;
}
